:root {
  --cor-principal-titulo: #3B3B1A;
  --cor-botoes-acao: #3B3B1A; 
  --cor-fundo-pagina: #AEC8A4; 
  --cor-fundo-container: #E7EFC7; 
  --cor-texto-padrao: #3B3B1A;
}

body{
  background: var(--cor-fundo-container);
}